<h1>Add a genre</h1>

<form method="POST" action="/genres">
	<input type="text" name="name" placeholder="Genre Name"/>
	<br>

	<input type="submit" value="Add Genre!">
</form>

<a href="/">Homepage</a>