<h1>Add an Artist</h1>

<form method="POST" action="/artists">
	<input type="text" name="name" placeholder="Full Name"/>
	<br>

	<input type="submit" value="Add Artist!">
</form>

<a href="/">Homepage</a>